.new-place > #map {
    position: relative;
    height: 750px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}